@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 40px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #fee4cb;
}


.rating:hover label:hover input~.icon {
  color: #000000;
}

.rating:not(:hover) label input:checked~.icon {
  color: #ff942e;
}


.rating label input:focus:not(:checked)~.icon:last-child {
  color: #fee4cb;
  text-shadow: 0 0 5px #ff942e;
}

.my-bg-color {
  background-color: #f3f6fd;
}

.pale-color {
  color: #888888;
}

.comment-textare-button {
  align-self: flex-end;
  margin-left: 8px;
}

.profile-txt {
  color: var(--main-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}


.comment-textarea {
  width: 100%;
  border-radius: 2px;
  margin-top: 6px;
  margin-bottom: 6px;

  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.message-line {
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0;
  opacity: 0.7;
}


.comment-section {
  display: flex;
  background-color: white;
  border-radius: 32px;
  padding: 32px;
  width: 50%;
  margin-bottom: 10px;
  margin-left: auto;
}



.profile-img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 4px;
}

.book-section {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;
}



.book-cover {
  width: 270px;
  height: 400px;
  object-fit: cover;
  margin-right: 4px;
  left: 10px;
  border-radius: 2%;
}

.active-pagination-button:hover {
  background-color: #f6fcff;
  color: #000000;
}

.inactive-pagination-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #1f1c2e;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.active-pagination-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: white;
  color: #000000;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.inactive-pagination-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #1f1c2e;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}



.my-font-color {
  color: #1e1b2d;
}

.my-font-color:hover {
  color: #27223d;
}


.search-input {
  border: none;
  flex: 1;
  outline: none;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  background-color: white;
  max-width: 100%;
}

.search-wrapper {
  border-radius: 20px;
  background-color: white;
  padding-right: 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
  max-width: 480px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.dark .search-wrapper {
  box-shadow: none;
}

.home-link {
  font-size: 20px;
  font-weight: 700;
  color: #1e1b2d;
}

.home-link:hover {
  color: #1e1b2d;
}

.my-width {
  width: 50%;
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #c2deec;
  z-index: 9999;
}

@media only screen and (max-width: 600px) {


  .book-cover {
    width: 65px;
    height: 92px;
    object-fit: cover;
    margin-right: 4px;
    left: 10px;
    border-radius: 2%;
    float: left
  }

  .login-register-section {
    width: 100%;
  }

  .comment-section {
    width: 80%;
  }

  .search-input {
    padding: 5px;
  }

  .my-width {
    width: 90%;
  }

  .home-link {
    font-size: 16px;
    font-weight: 700;
    color: #1e1b2d;
  }

  .search-wrapper {
    min-width: 10px;
    max-width: 80%;
  }

  .auth-card {
    width: 100%;
  }

  .search-wrapper {

    display: block;
    padding-right: 0px;
  }

}